#cluster-map{
    width : 100%;
    height: 500px;
}

#map{
    width : 100%;
    height: 300px;
    margin-bottom: 2rem;
}

@media (max-width:767px) {
    #cluster-map{
        width : 100%;
        height: 300px;
    }
}

